/* Estilos para el menú */
nav {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 200px;
	background-color: #333;
	color: #fff;
	padding: 20px;
	overflow-y: auto;
}

nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

nav ul li {
	padding: 10px;
	border-bottom: 1px solid #fff;
}

nav ul li:hover {
	background-color: #666;
}

nav ul li a {
	color: #fff;
	text-decoration: none;
}

/* Estilos para el contenido */
main {
	margin-left: 200px;
	padding: 20px;
}

#user{
	position: absolute;
	width: 200px;
	top: 40px;
	right: 40px;
  }

main{
	margin-left: 300px;
  }